<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pokepick</title>
    <link rel="stylesheet" href = "/public/css/styles.css">
</head>

<body>
    <main class="container">
      
        <a href="/home">PokePick</a>
       
        {{{body}}}
        

    </main>

    
  
</body>

</html>