{{!-- <div>
    <h2>PokeMon Database</h2>
    <br/>
        <a href="/pokemons" class="btn btn-default btn-lg btn-square">Find a Pokemon</a>
    <br/>
    <p>Please search pokemon by name or type:</p>

    <input type="text" name="search" placeholder="Search by type or name..">

  
     <br>
     <br>
    
    <a href=logout action="/logout">Logout</a>

 --}}

</div>
{{#if error}}
<p>{{error}}</p>
{{/if}}